{% extends 'plantilla.html' %}
{% block body %}
<div class="row">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div> 
    {% endfor %}
    {% endif %} 
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Edición de Motivos</h2>
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'update_motivo' motivo.cve_motivo %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="clave" value="{{ motivo.cve_motivo }}" class="form-control" placeholder="clave" maxlength="50" readonly required >
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" value="{{ motivo.nombre }}"  placeholder="Nombre" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>    
                    </form>    
                </div>    
            </div>
        </div>
    </div>
</div> 
{% endblock %}