{% extends './plantilla.html' %}
{% block body %}
<div class="row">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div> 
    {% endfor %}
    {% endif %} 
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Gestión de Razas</h2>
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'update_raza' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="clave" value="{{raza.cve_raza}}" class="form-control" placeholder="clave" maxlength="50" readonly required >
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" value="{{raza.nombre}}" placeholder="Nombre" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="especie" required>
                                <option value="" disabled>Seleccione una especie</option>
                                {% for especie in especies %}
                                <option value="{{ especie.cve_especie }}" {% if especie.cve_especie == raza.cve_especie.cve_especie %}selected{% endif %}>{{ especie.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <label for="imagen">Imagen Actual:</label><br>
                            <img src="{{ raza.foto.url }}" alt="imagen" class="img-fluid" style="max-width: 300px; height: auto;"><br><br>
                            <input type="file" class="form-control" name="foto" placeholder="Imagen">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>    
                    </form>    
                </div>    
            </div>
        </div>
    </div>
</div> 
{% endblock %}