{%extends "plantilla.html"%}

{%block title%} Mascotas {%endblock %}

{% block body %}

<div class="card mt-5">
    <div class="card-header">
        <h2>Trabajadores</h2>
        <a href="{% url 'create_trabajador' %}" class="btn btn-success">Agregar Trabajador</a>
    </div>    
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Clave</th>
                <th scope="col">Nombre</th>
                <th scope="col">Paterno</th>
                <th scope="col">Materno</th>
                <th scope="col">Municipio</th>
                <th scope="col">Dirección</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Turno</th>
                <th scope="col">Ocupación</th>
                <th scope="col">Foto</th>
                <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
                {%for t in trabajadores%}
                <tr>
                    <td>{{ t.cve_trabajador.cve_persona }}</td>
                    <td>{{ t.cve_trabajador.nombre }}</td>
                    <td>{{ t.cve_trabajador.paterno }}</td>
                    <td>{{ t.cve_trabajador.materno }}</td>
                    <td>{{ t.cve_trabajador.cve_municipio.nombre }}</td>
                    <td>{{ t.cve_trabajador.direccion }}</td>
                    <td>{{ t.cve_trabajador.correo }}</td>
                    <td>{{ t.cve_trabajador.telefono }}</td>
                    <td>{{ t.cve_turno.nombre }}</td>
                    <td>{{ t.nombre }}</td>
                    <td><img src="{{ t.cve_trabajador.imagen.url }}" alt="imagen" width="100" height="100"></td>
                    <td><a href="{% url 'update_trabajador' t.cve_trabajador.cve_persona %}" class="btn btn-info">Editar</a></td>
                    <td><a href="{% url 'delete_trabajador' t.cve_trabajador.cve_persona %}" class="btn btn-danger btnDelete">Borrar</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No hay trabajadores</td>
                </tr>
                {%endfor%}
            </tbody>
          </table>
    </div>
</div>    

{%endblock%}